<style>
        #canvas-container {
            position: relative;
            height: 80%;
            width: 80%;
        }
        .h1 {
            font-weight: 200;
            font-size: 3em;
            margin: 0 0 0.1em 0;
          }

        .#footer {
            font-weight: 200;
            font-size: 3em;
            margin: 0 0 0.1em 0;
          }
    </style>