.wrapper {
  max-width: 1200px;
  margin: 50px auto;
}

g1 {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

g2 {
  font-weight: 200;
  font-size: 0.9em;
  color: #999;
  text-align: center;
}


